/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
/config/admin.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
env_bueno.txt
/database/database.sqlite
agenda-ws.code-workspace