
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.page-footer{
    background-color: #fff;
}

.pt-1{
    padding-top:1em;
}
.pb-1{
    padding-bottom:1em;
}
.pl-1{
    padding-left:1em;
}
.pr-1{
    padding-right:1em;
}
.px-1{
    padding-left:1em;
    padding-right:1em;
}
.py-1{
    padding-top:1em;
    padding-bottom:1em;
}

.p-1{
    padding:1em;
}